h1 {
  font-family: "verdana";
  font-style: normal;
  font-weight: 600;
  font-size: 2.6vw;
  line-height: 84px;

}
.title {
  position: absolute;
  height: 100%;
  left: 20%;
  top: 0%;
}

.klant {
  margin-top: 5%;
}

.klant-input {
  width: 20vw;
  height: 4vw;
  background: rgba(106, 112, 126, 0.0001);
  border: 1px solid #dddfe1;
  border-radius: 0.95vw;
  padding: 10px 10px;
  font-size: 0.9vw;
}

.project-input {
  width: 20vw;
  height: 4vw;
  background: rgba(106, 112, 126, 0.0001);
  border: 1px solid #dddfe1;
  border-radius: 0.95vw;
  padding: 10px 10px;
  font-size: 0.9vw;
}
.activiteit-input {
  width: 39vw;
  height: 4vw;
  background: rgba(106, 112, 126, 0.0001);
  border: 1px solid #dddfe1;
  border-radius: 0.95vw;
  padding: 10px 10px;
  font-size: 0.9vw;
}
.datum {
 padding-left: 10%;
}
.datum-input {
  width: 19vw;
  height: 4vw;
  background: rgba(106, 112, 126, 0.0001);
  border: 1px solid #dddfe1;
  border-radius: 0.95vw;
  padding: 10px 10px;
  font-size: 0.9vw;
}

.tijd-input {
  width: 13vw;
  height: 4vw;
  background: rgba(106, 112, 126, 0.0001);
  border: 1px solid #dddfe1;
  border-radius: 0.95vw;
  
  font-size: 0.9vw;
  padding: 10px;
  text-align: center;
}

.toteindtijd {
  padding-left: 5%;
  white-space: nowrap;
}
.eindtijd {
 padding-left: 5%;
}
.submit {
  position: relative;
    width: 16vw;
    height: 3vw;
    background: #f39200;
    display: block;
    outline: none;
    border: none;
    border-radius: 4px;
    
  
    font-family: "verdana";
    font-style: normal;
    font-size: 0.95vw;
    color: #fff;
}

.btn{
  padding-left: 5%;
  margin-top: auto;
  justify-content: center;
}

label{
  font-style: normal;
  font-size: 1.05vw;
 }

 .middle-line{
  display: flex;
  margin-top: 5%;
 }
 .tijd-line{
  display: flex;
  margin-top: 5%;
 }

