.logo {
    position: absolute;
    width: 350px;
    height: 250px;
    left: 75px;
    top: 0px;
}
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 40%;
    background: #42447d;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}
    	
.login {
    position: absolute;
    height: 84px;
    left: 65%;
    top: 20%;
}

h1 {
    position: absolute;
    margin-top: -50%;
    left: 39%;
    font-family: "verdana";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 84px;
    color: #42447d;
}
.submit {
    width: 150%;
    height: 100%;
    margin-top: 25%;
    position: center;
    background: #f39200;
    box-shadow: 0px 0px 30px rgba(99, 122, 48, 0.4);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
      drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: block;
    outline: none;
    border: none;
  
    font-family: "verdana";
    font-style: normal;
    font-size: 14px;
    color: #fff;
    text-align: center;
}
/* .input {
    margin-top: 30px;
    width: 150%;
    height: 40px;
    background: rgba(100, 103, 143, 0.15);
    border-radius: 4px;
    outline: none;
    border: none;
    text-align: center;
} */
.inputgegevens {
    margin-top: 30px;
    width: 150%;
    height: 40px;
    background: rgba(100, 103, 143, 0.15);
    border-radius: 4px;
    outline: none;
    border: none;
    text-align: center;
}
  
.btn-group {
    left:10%;
    height: 30px;
}