*{
  max-width: 100%;
  max-height: 100%;
}
.logo {
  position: absolute;
  width: 25vw;
  height: 10vw;
  left: 5%;
  top: 10%;
  background-color: #fff;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 33vw;
  background: #42447d;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}


.login {
  position: absolute;
  height: 10%;
  margin-left: 50%;
  text-align: center;
}

h1 {
  font-family: "verdana";
  font-style: normal;
  font-weight: 600;
  line-height: 84px;
  /* identical to box height */
  color: #42447d;
}

.submit {
  margin-top: 25%;
  position: center;
  background: #f39200;
  box-shadow: 0px 0px 30px rgba(99, 122, 48, 0.4);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: block;
  outline: none;
  border: none;

  font-family: "verdana";
  font-style: normal;
  color: #fff;
  text-align: center;
}

.inputgegevens {
  margin-top: 30px;
  background: rgba(100, 103, 143, 0.15);
  border-radius: 4px;
  outline: none;
  border: none;
  text-align: center;
}
input{
  display: block;
}

.btn-group {
  left:10%;
  height: 30px;
}

.error{
  text-align: center;
}
.password-forgot{
  text-align: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
  .inputgegevens{
    font-size: 12px;
    width: 30vw;
    height: 20px; 
  }
  .login{
    font-size: 11px;
  }
  .submit{
    font-size: 12px;
    width: 30vw;
    height: 5vw;
  }
  .error{
    font-size: 11px;
    max-width: 30vw;
    text-align: center;
  }
}
@media screen and (min-width: 600px) {
  h1{
    font-size: 35px;
  }
  .inputgegevens{
    width: 302px;
    height: 38px;
  }
  .submit{
    font-size: 14px;
    width: 302px;
    height: 5vw;
  }
}