h1 {
  font-family: "verdana";
  font-style: normal;
  font-weight: 600;
  font-size: 2.6vw;
  line-height: 84px;
  /* identical to box height */
}
.title {
  position: absolute;
  height: 100%;
  left: 20%;
  top: 0%;
}
.klant{
  margin-top: 5%;
}

.klantnaam-input {
  width: 20vw;
  height: 4vw;
  background: rgba(106, 112, 126, 0.0001);
  border: 1px solid #dddfe1;
  border-radius: 0.95vw;
  padding: 10px 10px;
  font-size: 0.9vw;
}

.straat-input {
  width: 20vw;
  height: 4vw;
  background: rgba(106, 112, 126, 0.0001);
  border: 1px solid #dddfe1;
  border-radius: 0.95vw;
  padding: 10px 10px;
  font-size: 0.9vw;
}
.telefoon {
  padding-left: 2%;
}
.telefoon-input {
  width: 20vw;
  height: 4vw;
  background: rgba(106, 112, 126, 0.0001);
  border: 1px solid #dddfe1;
  border-radius: 0.95vw;
  padding: 10px 10px;
  font-size: 0.9vw;
}
.woonplaats {
  padding-left: 2%;
}
.woonplaats-input {
  width: 20vw;
  height: 4vw;
  background: rgba(106, 112, 126, 0.0001);
  border: 1px solid #dddfe1;
  border-radius: 0.95vw;
  padding: 10px 10px;
  font-size: 0.9vw;
}
.adres-input {
  width: 13vw;
  height: 4vw;
  background: rgba(106, 112, 126, 0.0001);
  border: 1px solid #dddfe1;
  border-radius: 0.95vw;
  padding: 10px 10px;
  display: block;
  font-size: 0.9vw;
}

.postcode {
  padding-left: 5%;
}
.submit {
  position: relative;
  width: 24.5%;
  height: 3vw;
  background: #f39200;
  display: block;
  outline: none;
  border: none;
  border-radius: 4px;

  font-family: "verdana";
  font-style: normal;
  font-size: 0.95vw;
  color: #fff;
  margin-left: 72%;
  margin-top: -5%;
}
.error{
  text-align: center;
  width: 100%;
  margin-top: 33%;
  margin-left: 21%;
  font-style: normal;
  font-size: 1.05vw;
 }
 label{
  font-style: normal;
  font-size: 1.05vw;
 }
 .middle-line{
  display: flex;
  margin-top: 5%;
 }
 .bottom-line{
  display: flex;
  margin-top: 5%;
 }
 