h1 {
    font-family: "verdana";
    font-style: normal;
    font-weight: 600;
    line-height: 84px;
  }
  .title {
    position: absolute;
    height: 100%;
    left: 20%;
    top: 0%;
  }
  
  .klant {
    margin-top: -5%;
  }
  
  .klant-input {
    background: rgba(106, 112, 126, 0.0001);
    border: 1px solid #dddfe1;
    border-radius: 0.95vw;
    padding: 10px 10px;
  }
  
  .project-input {
    background: rgba(106, 112, 126, 0.0001);
    border: 1px solid #dddfe1;
    border-radius: 0.95vw;
    padding: 10px 10px;
  }
  .declarabel{
    padding-left: 3.5%;
  }
  .bonus{
    padding-left: 3.5%;
  }
  
  .activiteit-input {
    background: rgba(106, 112, 126, 0.0001);
    border: 1px solid #dddfe1;
    border-radius: 0.95vw;
    padding: 10px 10px;
  }
  .datum {
    padding-left: 10%;
    margin-top: -2.7% ;
  }
  .datum-input {
    background: rgba(106, 112, 126, 0.0001);
    border: 1px solid #dddfe1;
    border-radius: 0.95vw;
    padding: 10px 10px;
  }
  
  .tijd-input {
    background: rgba(106, 112, 126, 0.0001);
    border: 1px solid #dddfe1;
    border-radius: 0.95vw;
    padding: 10px;
    text-align: center;
  }
  
  .toteindtijd {
    padding-left: 5%;
  }
  .eindtijd {
    padding-left: 5%;
  }
  .submit {
    position: relative;
    background: #f39200;
    display: block;
    outline: none;
    border: none;
    border-radius: 4px;
  
    font-family: "verdana";
    font-style: normal;
    color: #fff;
  }
  
  .btn {
    padding-left: 5%;
    margin-top: auto;
    justify-content: center;
  }
  
  label {
    font-style: normal;
  }
  .project-declarabel {
    display: flex;
    margin-top: 5%;
  }
  .middle-line {
    display: flex;
    margin-top: 5%;
  }
  .tijd-line {
    display: flex;
    margin-top: 5%;
    
      align-items: center;
      flex-wrap: wrap;
  }
  
  
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 15px;
    }
    .klant-input {
      width: 100px;
      height: 20px;
      font-size: 10px;
    }
    label {
      font-size: 12px;
    }
    .project-input {
      width: 100px;
      height: 20px;
      font-size: 10px;
    }
    .activiteit-input {
      width: 180px;
      height: 20px;
      font-size: 10px;
    }
    .datum-input {
      width: 80px;
      height: 20px;
      font-size: 7px;
    }
    .tijd-input {
      width: 60px;
      height: 20px;
      font-size: 7px;
    }
    
    .tijd-line label {
      font-size: 10px;
    }
    .submit {
      width: 65px;
      height: 15px;
      font-size: 9px;
      margin-top: 15%;
      margin-left: 220%;
    }
    .error{
      font-size: 9px;
    }
    p.righter{
      /* float: right; */
      text-align: right;
      font-size: 9px;
    }
  }
  @media screen and (min-width: 600px) {
    h1 {
      font-size: 40px;
    }
    .klant-input {
      width: 20vw;
      height: 4vw;
      font-size: 14px;
    }
    label {
      font-size: 16px;
    }
    .project-input {
      width: 20vw;
      height: 4vw;
      font-size: 14px;
    }
    .activiteit-input {
      width: 39vw;
      height: 4vw;
      font-size: 14px;
    }
    .datum-input {
      width: 19vw;
      height: 4vw;
      font-size: 14px;
    }
    .tijd-input {
      width: 13vw;
      height: 4vw;
      font-size: 14px;
    }
    .submit {
      width: 16vw;
      height: 3vw;
      font-size: 15px;
      margin-left: 300%;
      margin-top: -20%;
    }
    .error{
      font-size: 16px;
    }
    p.righter{
      /* float: right; */
      text-align: right;
    }
  }
  